*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}
.header-language{
    height: 52.4px;
    background-color: #1D75DE;
}
.header-language-div{
    padding: 16px;
    width: 1150px;
    margin: auto;
    display: flex;
    color: white;
    justify-content: space-between;
}
.header-language-div a{
    font-size: 12px;
    color: white;
}
.header-language-div i{
    font-size: 20px;
}

/*header main*/
.header-main{
    height: 80px;
    background-color: black;
}
.header-main-main{
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header-main-main img{
    height: 40px;
    margin-top: 20px;
}
.header-main-ul li{
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 28px 17px;
}
.header-main-ul li a{
    text-decoration: none;
    color: white;
}

/*hover of header main*/
.header-main-ul a:hover{
    color: #1ed760;
}


/*container-1*/
.container-1{
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    height: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.container-1-first{
    padding-top: 100px;
    display: flex;
    width: 30%;
    justify-content: center;
}
.container-1-first-img1{
    height: 500px;
    position: absolute;
}
.container-1-first-img2{
    height: 430px;
    padding-top: 70px;
}

.container-1-second{
    width: 50%;
    padding: 180px 15px 0px 0px;
}
.container-1-second h1{
    font-size: 64px;
    font-weight: 600;
    padding-right: 32px;
    padding-bottom: 32px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    color: white;
}
.container-1-second input{
    padding: 15px 30px;
    border-radius:30px;
    border: 1px solid white;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    font-weight: 600;
}


/*container-2*/
.container-2{
    background-color: white;
    width: 100%;
    background-color: white;
}
.container-2-div{
    margin: 0px 91.4px;
    padding: 75px 15px;
}
.container-2-div-div ul{
    display: flex;
    list-style: none;
}

.container-2-div h2{
    font-size: 40px;
    margin: 0px 135px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 80px;
}
.container-2-div ul li div img{
    height: 140px;
    margin-bottom: 40px;
}
.container-2-div ul li div{
    text-align: center;
}
.container-2-div ul li div p:first-child{
    margin-bottom: 10px;
    font-weight: 300;
}

/*container-3*/
.container-3{
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    text-align: center;
    font-weight: 900;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    color: white;
}
.container-3-h2-1{
    font-size: 48px;
    padding-top: 190px;
}
.container-3-h2-2{
    font-size: 48px;
    padding-bottom: 190px;
}

/*container-4*/
.container-4{
    width: 1130px;
    margin: auto;
    padding: 80px 15px;
    font-weight: 900;
}
.container-4 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 900;
}
.container-4 div{
    margin-top: 2px;
    padding: 26px 28px;
    display: flex;
    justify-content: space-between;
}
.container-4 div p{
    font-size: 18px;
    padding: 0px 10px 0px 0px;
}

/*container-5*/
.container-5{
    background: url(https://www.scdn.co/i/free/lets-play.svg) left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
    text-align: center;
    min-height: 450px;
    justify-content: center;
}
.container-5 h1{
    font-size: 64px;
    font-weight: 600;
    padding-right: 32px;
    padding-bottom: 32px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    color: white;
    padding-top: 190px;
}
.container-5 div a input{
    padding: 15px 30px;
    border-radius:30px;
    border: 1px solid white;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    font-weight: 600;
}

/*footer*/
footer{
    padding: 80px 0px 50px 0px;
    background-color: black;
    color: white;
    height: 400px;
}

.footer-div-first{
    width: 1130px;
    margin: auto;
    font-size: 12px;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 33.2%;
}
.footer-div-first div{
    height: 350px;
    padding: 0px 15px;
}
.footer-div-first p{
    margin: 20px 0px;
    color: #919496;
}
.footer-div-first a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 3px 0px 15px;
}
.footer-div-first a:hover{
    color: #1ed760;
}
.footer-div-first img{
    height: 41.9px;
}
.footer-div-first i{
    border: 1px solid #222326;
    padding: 15px;
    font-size: 22px;
    border-radius: 50%;
    background-color: #222326;
}
.social{
    margin: 0px 15px 0px 116.3px;
}

.footer-div-first ul{
    margin-top: 20px;
}
.footer-div-first li{
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
}

.footer-div-second{
    width: 1130px;
    margin: auto;
    text-align: right;
    font-size: 12px;
}
.footer-div-second-a2{
    margin-right: 10px;
}

.footer-div-third{
    width: 1130px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-left: 15px;
}
.footer-div-third ul li{
    display: inline;
    color: white;
}
.footer-div-third a, .footer-div-second a{
    color: #919496;;
    text-decoration: none;
}
.footer-div-third a:hover, .footer-div-second a:hover{
    color: #1ed760;
}
.footer-div-third ul{
    padding-left: 15px;
    margin-right: 45px;
}
.footer-div-third a{
    padding: 12px 0px;
    padding-right: 10px;
}
.footer-div-third p{
    margin-right: 15px;
    padding: 12px 0px;
    color: #919496;
}






/*input-button-hover*/
input:hover, .container-5 div a input:hover{
    color: #1ed760;
    background-color: black;
    border-color: black;
}




/*sticky container*/
.bottom-sticky-container{
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 30px top;
    padding: 20px 30px;
    border: 1px solid black;
    height: 80px;
}
.bottom-sticky-container-inside{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.bottom-sticky-container-inside p{
    width: 55%;
}